.contenedor{
    text-align: center;
    height: 100%;
    padding-bottom: 5%;
}

.titulo {
    padding-top: 20px;
    font-size: 50px;
    margin-bottom: 20px;
}

.prueba{
    text-align: center;
     height: 100vh;
    background-color: rgba(0, 0, 0, 0.842);
}

@media only screen and (max-width: 1024px){
    .contenedor{
        text-align: center;
        height: 100vh;
        
    }
    .precarga {
        width: 50vw;
        height: 50vh;
    }
    
    .prueba{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .titulo {
        
        font-size: 36px;
        
    }

    
}


@media only screen and (max-width: 414px){
    .contenedor{
        text-align: center;
        height: 100vh;
        
    }
    .precarga {
        width: 50vw;
        height: 50vh;
        
        
        
    }
    .prueba{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .titulo {
        
        font-size: 36px;
        
    }
    
}

@media only screen and (max-width: 320px){
    .contenedor{
        text-align: center;
        height: 100vh;
        
    }
    .precarga {
        width: 50vw;
        height: 50vh;
        
        
        
    }
    .prueba{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .titulo {
        
        font-size: 36px;
        
    }
   
}


