.contenedor{
    text-align: center;
    height: 100%;
    padding-bottom: 5%;
}

.titulo {
    padding-top: 20px;
    font-size: 50px;
    margin-bottom: 20px;
}

.id{
    position: relative;
    top: 30px;
}

/* .precargar {
    width: 80vw;
    height: 70vh;
    justify-content: center;
    margin: 0px auto;
    
} */

.prueba{
    text-align: center;
     height: 100vh;
    background-color: rgba(0, 0, 0, 0.842);
}

@media (max-width: 320px){
    .contenedor{
        text-align: center;
        height: 100vh;
        
    }
    .precarga {
        width: 50vw;
        height: 50vh;
        
        
        
    }
    .prueba{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .titulo {
        
        font-size: 36px;
        
    }
    .id{
        position: relative;
        top: 42px;
    }
}


