.nav {
    display: flex;
    width: 75%;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
    background-color: #d13300;
    margin-bottom: 25px;
    padding: 15px;
    border-radius: 15px;
    color: #fff;
}

.responsive{
    display: none;
}

.pokeball {
    width: 150px;
    height: 75px;
    border-radius: 30px;
}

.titulo {
    font-size: 40px;
}

.ul {
    display: flex;
    align-items: center;
    
}

.lista {
    list-style: none;
    padding: 0px 5px ;
    font-size: 20px;
}

.link {
    text-decoration: none;
    color: #fff;
}

.asd{
    font-size: 26px;
    font-weight: 700;
}

@media (max-width: 1024px){
    .nav {
        display: flex;
        width: 100%;
        margin: 0px auto;
        justify-content: space-between;
        align-items: center;
        background-color: #d13300;
        margin-bottom: 25px;
        padding: 15px;
        border-radius: 0px;
        color: #fff;
    }
}

@media only screen and (max-width: 414px){
    .responsive{
        display: flex;
        width: 100%;
        background-color: #d13300;
        padding: 15px 5px;
        justify-content: space-evenly;
        align-items: center;
        color: #fff;
        cursor: pointer;
    }

    .bars{
        font-size: 30px;
    }
    
    .tituloR {
        font-size: 30px;
    }

    .ul{
        display: block;
        text-align: center;
        background-color: #d13300;
    }

    /*NAV NO RESOPNSIVE PARA QUE NO SE VEA*/
    .nav{
        display: none;
        margin: 0px;
    }
    .navDos{
        display: block;
        margin: 0px;
    }
    .titulo {
        display: none;
    }
    .pokeball {
        display: none;
    }
}

@media only screen and (max-width: 320px){
    .responsive{
        display: flex;
        width: 100%;
        background-color: #d13300;
        padding: 15px 5px;
        justify-content: space-evenly;
        align-items: center;
        color: #fff;
        cursor: pointer;
    }

    .bars{
        font-size: 30px;
    }
    
    .tituloR {
        font-size: 30px;
    }

    .ul{
        display: block;
        text-align: center;
        background-color: #d13300;
    }

    /*NAV NO RESOPNSIVE PARA QUE NO SE VEA*/
    .nav{
        display: none;
        margin: 0px;
    }
    .navDos{
        display: block;
        margin: 0px;
    }
    .titulo {
        display: none;
    }
    .pokeball {
        display: none;
    }
}