.nav {
    display: flex;
    width: 75%;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
    background-color: #d13300;
    margin-bottom: 25px;
    padding: 15px 15px;
    border-radius: 15px;
    color: #fff;
}

.pokeball {
    width: 150px;
    height: 75px;
    border-radius: 30px;
}

.titulo {
    font-size: 40px;
}

.ul {
    display: flex;
    align-items: center;
    
}

.lista {
    list-style: none;
    padding: 0px 5px ;
    font-size: 20px;
}

.link {
    text-decoration: none;
    color: #fff;
}

.asd{
    font-size: 26px;
    font-weight: 700;
}