.contenedor {
    width: 75%;
    margin: 0px auto;
}   
.contenedor2 {
    width: 75%;
    margin: 0px auto;
    height: 100vh;
}

.titulo {
    text-align: center;
    color: #fff;
    margin: 25px;
    font-size: 40px;
}
/* GIF DE CARGA */
.div {
    margin-left: 30%;
    height: 100vh;
}
.precargar {
    width: 50vw;
}


/* PAGINADO */
.paginado {
    display: flex;
    width: 50%;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
}

.paginado2 {
    display: none;
}
.ocultobtn {
    visibility: hidden;
}

.paginadobtn{
    border: none;
    border-radius: 10px;
    background-color: #110634e8;
    color: #fff;
    padding: 10px 25px;
    margin: 15px 15px;
    cursor: pointer;
}
.paginas {
    border: none;
    background: none;
    margin-left: 5px;
    font-size: 14px;
    cursor: pointer;
}
.numeros {
    font-size: 14px;
}



/*SELECTS*/
.filtrados {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 10px;
}

.sortDB{
    background-color: #110634a2;
    color: #fff;
    border: none;
    padding: 8px 25px;
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
}
.sortDB:focus{
    outline: 0;
}

/* POKEMONS CARDS */
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}    

/* BACKGROUND LOADING */
.carga {
    background-color: rgba(0, 0, 0, 0.842);
}

/*SEARCH ERROR*/
.falseDiv{
    grid-column: 2;
    height: 35em;
    margin: 50px auto;
}

.false {
    font-size: 30px;
    color: #fff;
    text-align: center;
    padding: 50px;
    background-color: #110634ce;
    border-radius: 25px;
}


/* RESPONSIVE */
@media only screen and (max-width: 1200px)  {
    /*Filtros*/
    .sortDB{
        background-color: #110634a2;
        color: #fff;
        border: none;
        padding: 5px 10px;
        text-align: center;
        cursor: pointer;
        border-radius: 15px;
    }
    /*Errore en DB*/
    .false {
        font-size: 24px;
        color: #fff;
        text-align: center;
        padding: 30px;
        background-color: #110634ce;
        border-radius: 25px;
    }
}

@media only screen and (max-width: 1024px){
    
    .contenedor {
        width: 100%;
        margin: 0px auto;
    }
    .contenedor2 {
        width: 100%;
        margin: 0px auto;
        height: 100vh;
    }
}

@media only screen and (max-width: 768px){
    /* POKEMONS CARDS */
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }
    .sortDB{
        background-color: #110634a2;
        color: #fff;
        border: none;
        padding: 5px ;
        text-align: center;
        cursor: pointer;
        border-radius: 15px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 480px){
    .filtrados {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }
    .search {
        grid-column: 1/3;
        grid-row: 1;
        margin: 10px;
    }
    .sortDB{
        margin: 5px;
        background-color: #110634a2;
        color: #fff;
        border: none;
        padding: 5px ;
        text-align: center;
        cursor: pointer;
        border-radius: 15px;
        font-size: 12px;
    }
    .paginado {
        display: flex;
        width: 75%;
        margin: 0px auto;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 368px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
    .paginado {
        display: flex;
        width: 100%;
        margin: 0px auto;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 320px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
    .paginado {
        display: flex;
        width: 100%;
        margin: 0px auto;
        justify-content: center;
        align-items: center;
    }
}